<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stay">

    <application
        android:allowBackup="true"
        android:icon="@drawable/stay"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditAdminActivity"></activity>
        <activity
            android:name=".ManageAdmin"
            android:label="@string/title_activity_manage_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BoarderLeaveUpdate" />
        <activity android:name=".UpdateRoomActivity" />
        <activity android:name=".EditBoardersActivity" />
        <activity android:name=".MngLeaveReqActivity" />
        <activity android:name=".BoarderViewLeaveActivity" />
        <activity android:name=".BoarderLeaveRequest" />
        <activity android:name=".BoarderViewFoodActivity" />
        <activity android:name=".UpdateSuccess" />
        <activity android:name=".MngFoodRequest" />
        <activity android:name=".PaymentUpdate" />
        <activity android:name=".RecievedPayments" />
        <activity android:name=".CompletePayment" />
        <activity android:name=".ViewPayment" />
        <activity android:name=".BoarderLeaveHomeActivity" />
        <activity android:name=".AddPayment" />
        <activity android:name=".BoarderPaymentHomeActivity" />
        <activity
            android:name=".MngRoomActivity"
            android:label="@string/title_activity_mng_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BoarderFoodActivity" />
        <activity android:name=".BoarderRequestFoodActivity" />
        <activity android:name=".BoarderManageActivity" />
        <activity
            android:name=".MngBorderActivity"
            android:label="@string/title_activity_mng_border"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BoardersHomeActivity" />
        <activity android:name=".ManagementHomeActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>